<% if current_user && (current_user.has_role? :admin) %>
  <h1>Owned Books List</h1>
  <ul>
    <% @owned_books.each do |book| %>
      <li><%= link_to book.book.title, owned_book_path(book.id) %></li>
    <% end %>
  </ul>
<% end %>