<div class="wrapper new_fav_genres">
  <div class="new_fav_genres_form">
    <% if current_user.sign_in_count == 1 %>
      <h3 class="sub-title">Welcome <%= "#{current_user.username}" %> 😊 Please choose your favourite genres: </h3>
      <%= form_with url: '/fav_genres', method: :post do |f| %>
        <%= f.collection_check_boxes :genres_id, @genres, :id, :name %>
        <div class="submit"><%= f.submit "Save", class: 'btn btn-dark' %></div>    
      <% end %>
    <% end %>
  </div>
</div>