<h1>My books</h1>
<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.book.title, owned_book_path(book.id) %></li>
  <% end %>
</ul>

<ul>
  <h1>My requests</h1>
  <% @requests.each do |request| %>
    <li><%= link_to request.id, request_path(request.id) %></li>
  <% end %>
</ul>

