<h1>Add New Book</h1>

<%= form_with url: "/found_results", method: :get do |f| %>
<div class="search-bar">
  <%= f.label :find, "Book Title:" %>
  <%= f.text_field :find, placeholder: "Book Title" %>
  <div class="search-bar-btn">
    <%= f.submit "Search for book"%>
  </div>
</div>
<% end %>