<div>
<!-- <div class="page-wrapper"> -->
  <% @books.each do |book| %>
    <div class="book-wrapper">
      <img src="<%= book.cover %>" alt="Book cover of <%= "#{book.title}" %>">
      <%= link_to book.title, book_path(book.id) %>
    </div>
  <% end %>
</div>
