// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// NAV
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(226, 226, 226);
}

.nav-logo {
  font-size: 1.2rem;
  font-style: italic;
}

.nav-bar ul {
  display: flex;
  li {
    margin-left: 2rem;
  }
}

.results_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .found_book_wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
  }
}