// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


 // root
 :root {
  --clr-primary-dkgreen: hsl(88, 38%, 15%);
  --clr-primary-ltorange: hsl(28, 67%, 44%);
  --clr-primary-nav-ltgreen: hsla(71, 20%, 68%, 0.4);
  --clr-primary--ltgreen: hsla(71, 9%, 46%, 0.2);
  --clr-alert-dkred: hsl(0, 100%, 26%);
  --clr-notice-ltgreen: hsl(74, 31%, 20%);
  --clr-hover-ltgreen: hsl(89, 49%, 23%);

}

// GENERAL STYLE
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--clr-primary-dkgreen);
}

a:hover, 
a:focus {
  color: var(--clr-hover-ltgreen);
}

.book-title, 
.book-author, 
.book-genres {
  text-align: center;
}
.title {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
}
.sub-title {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.wrapper {
  padding: 0 2rem;
}

// Buttons
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 0.5em 1em;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.btn-dark-outline {
  border-color: var(--clr-primary-dkgreen);
}

.btn-dark-outline:hover,
.btn-dark-outline:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.btn-dark {
  background-color: var(--clr-primary-dkgreen);
  color: white;
  a {
    color: white;
  }
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: rgba(0, 0, 0, 0.06);
  color: var(--clr-primary-dkgreen);
  a {
    color: var(--clr-primary-dkgreen);
  }
}

// Notice & Alert
.alert, 
.notice {
  margin: 0;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  text-align: center;
  padding: 1em 0;
}

.alert {
  color: var(--clr-alert-dkred);
}

.notice {
  color: var(--clr-notice-ltgreen);
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--clr-primary-dkgreen);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// Nav Bar
.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: var(--clr-primary-nav-ltgreen);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.logo {
  font-size: 1.8rem;
  font-family: 'Cookie', cursive;
  font-style: italic;
  color: var(--clr-primary--dkgreen);
}

.navbar-nav {
  display: none;
}

// Hamburger Menu Icon
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
}

.hamburger-top, 
.hamburger-middle, 
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background:var(--clr-primary-dkgreen);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

// Mobile Menu
.mobile-menu {
  position: fixed;
  top: 64px;
  right: 0;
  z-index: 11;
  background-color: white;
  width: 90%;
  height: 100%;
  padding: 30px;
  transition: all 0.3s;
  ul {
    line-height: 3;
    a {
      font-size: 1.3rem;
    }
  }
  .mobile-menu-btns {
    border-top: #777 solid 1px;
    padding-top: 30px;
    margin-top: 30px;
    a {
      font-size: 1rem;
    }
  }
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

// Hero-pic
.hero-pic {
  height: calc(100vh - 83.2px);
  width: 100%;
  background-image: url(hero-pic.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-pic-text {
    color: white;
    text-align: center;
    font-size: clamp(1.85rem, 2.5vw, 2rem);
    font-family: 'Cookie', cursive;
    font-style: italic;
    letter-spacing: 3px;
    background-color: rgba(131, 131, 131, 0.5);
    padding: 0.5em 1.8em;
  }
}

// Top Bar
.top-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  .top-bar-menu {
    display: flex;
    li {
      margin: 15px 30px 0;
    }
  }
}

.top-bar::after {
  position: absolute;
  content: '';
  background-color: var(--clr-primary-ltorange);
  display: block;
  height: 1px;
  width: 1000px;
  bottom: 0px;
  left: 50%;
  margin-left: -500px;
}

// Index Books Page
.page-wrapper {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 2.5rem;
  justify-items: center;
  align-items: center;
  .book-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 12.5rem;
    height: 24rem;
    padding: 10px;
    background: var(--clr-primary--ltgreen);
    border-radius: 5px;
    .book-wrapper-image {
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// Show Book Page
.show-book {
  display: flex;
  justify-content: center;
  .book-page-wrapper {
    padding: 0 1rem;
    width: 80%;
    .book-side {
      margin-bottom: 1rem;
      .book-cover {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .book-genres {
        margin: 1.5rem 0;
      }
      .book-description {
        font-size: clamp(0.8rem, 2vw, 1rem);
      }
    }
    .request-top .btn{
      margin: 10px 0 20px;
    }
    .request-bottom ul {
      list-style: disc;
      li {
        margin-left: 20px;
      }
    }
  }
}

// Add Book
.find_book {
  display: flex;
  justify-content: center;
  text-align: center;
  .find_book_title {
    margin-bottom: 1em;
  }
  .search-btn {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
}

// Found-results Page
.found-results {
  .title {
    margin-bottom: 1em;
  }
}

.found_book_wrapper {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  img {
    width: 100%;
    height: auto;
  }
}

// Add New Book
.add-new-book {
  display: flex;
  justify-content: center;
  text-align: center;
  .add-new-book-form {
    width: 80%;
  }
  .title, 
  .sub-title {
    margin: 0.5em 0;
  }
  .btn {
    margin-top: 2em;
  }
}

.return, 
.tips {
  text-align: center;
  font-weight: bold;
  color: var(--clr-primary-ltorange);
}

.return {
  margin-top: 2rem;
}

// Edit Book
.edit-book {
  display: flex;
  justify-content: center;
  .edit-book-form {
    width: 80%;
    .sub-title {
      margin: 1em 0;
    }
    .genres {
      margin-top: 1em;
    }
    .btn {
      margin: 1em 0;
    }
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin-top: 3rem;
  background-color: var(--clr-primary-nav-ltgreen);
  display: flex;
  align-items: center;
  justify-content: center;
  .footer-text {
    margin-left: 2rem;
  }
}


/*----------------*/
/* Tablet version */
/*----------------*/

@media only screen and (min-width: 640px){
  .navbar-nav {
    text-transform: uppercase;
  }
  
  .navbar-nav li:first-child {
    color: rgb(92, 92, 92);
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }

  .hamburger {
    display: none;
  }

  .found_book_wrapper {
    height: 280px;
  }
  .return {
    margin-top: 4rem;
  }
}

/* --------------- */
/* Desktop version */
/* --------------- */

@media only screen and (min-width: 900px){
  .book-page-wrapper {
    display: flex;
    gap: 3rem;
    .book-side {
      flex: 1;
      .book-side-main {
        display: flex;
        .book-title,
        .book-author,
        .book-genres {
          text-align: left;
          margin-left: 1em;
        }
      }
    }
    .request-side {
      flex-direction: column;
      justify-content: normal;
      .request-bottom {
        margin-top: 1rem;
      }
    }
  }
}

