// Place all the styles related to the Fav_genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Fav Genres Page
.fav_genres {
  display: flex;
  justify-content: center;
  text-align: center;
  .btn {
    margin-top: 0.7em;
  }
}

// Add Fav Genres Page
.new_fav_genres {
  display: flex;
  justify-content: center;
  .new_fav_genres_form {
    width: 80%;
    .sub-title {
      margin-bottom: 1em;
    }
    .btn {
      margin-top: 1em;
    }
  }
}

// Edit Fav Genres Page
.edit_fav_genres {
  display: flex;
  justify-content: center;
  .fav_genres_wrapper {
    width: 80%;
    .sub-title {
      margin-bottom: 0.5em;
    }
  }
  .submit {
    display: flex;
    justify-content: center;
    margin-top: 0.7em;
  }
}