// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Sign in & Sign up form
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .actions {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
}

// User Index Page
.users {
  text-align: center;
  .title {
    margin-bottom: 1em;
  }
}
